<div class="row">
  <h3>
    Oi #{@author.user_name}
  </h3>
  <p>
    Um comentario foi adicionado ao seu artigo #{@article.title}
    <br/>
    comentario: #{@comment.description}
    <br/>
    Comentado por: #{@comment.user.user_name}
  </p>
  <h4></h4>
  Obrigado,
  <br/>
  Wiki Team
</div>
